html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: none;
    height: 100%; 
    width: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

#home {
    position: relative;
    background-color: rgb(68, 140, 255);
}

#about {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#projects {
    background-color: rgb(68, 140, 255); 
    position: relative;
    height: 1000px;
}

#iconContainer {
    height: 8rem;
    width: 4rem;
    position: absolute;
    top: 37%;
    left: 0rem;
}

#aboutHeader {
    position: absolute; 
    left: 0; 
    right: 0;
    margin: 0 auto 0 auto;

    font-weight: 400!important;
}

#aboutParagraph {
    position: relative;
    margin: 0 auto 0 auto;
}

.aboutText {
    font-size: 1.2rem;
    font-weight: 300;
}

#nextButton1 {
    position: absolute;
    right: 10px;
}

#nextButton2 {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

#resumeButton {
    animation-delay: 300ms;
}

#githubButton {
    animation-delay: 400ms; 
}

#linkedInButton {
    animation-delay: 600ms; 
}

#emailButton {
    animation-delay: 800ms; 
}

#instagramButton {
    animation-delay: 1000ms; 
}

#homeNavButton {
    animation-delay: 200ms;
}

#projNavButton {
    animation-delay: 450ms;
}

#resumeNavButton {
    animation-delay: 550ms;
}

#emailBox {
    width: 5.5rem;
    height: 1.7rem;
    position: absolute;
    bottom: 7%;
    left: 1%;
    visibility: hidden;
}

#emailBox p {
    text-align: center; 
    font-weight: 500;
    font-size: 0.8rem;
    position: relative;
    top: 0.2rem;
}
    
#linkedInButton {
    margin-bottom: .7rem;
}

#emailButton {
    margin-bottom: .6rem;
}


#slideContainer {
    position: relative;
    margin: 0 auto 0 auto;
    top: 15%;
    height: 360px;
    width: 480px;
    border-style: solid;
    border-color: lightskyblue;
    border-width: 1px;
    list-style-type: none;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 0.7;
    z-index: 2;
}

#projectScreenHeader {
    font-weight: 350!important;
}

.cardWrapper {
    position: relative;
    margin: 200px auto 200px auto;
    padding: 0;
    top: 12rem;

    border-radius: 10px;

    transition: 0.6s ease;
    cursor: default;
}

.card {
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.cardWrapper:hover {
    transform: scale(1.015);
}

.card:hover {
    box-shadow: 3px 3px 10px black;
}

.cardImg {
    border-style: solid;
    border-width: 4px;
    border-color: grey;
    border-radius: 10px 10px 10px 10px; 
}

.contentBox {
    position: absolute;
    top: 250px;
    width: 420px;
    margin: 10px;
    border-bottom: 10px solid grey;
    border-radius: 30px 30px 15px 15px;
}

.langBox {
    display: flex;
    justify-content: center;
}

.visitCardButton {
    position: absolute;
    bottom: 4%;
    left: 15%;
    padding-bottom: 3px;
    
    width: 90px;
    height: 35px;
    border-radius: 50px;
    background-color: white;
    color: black;    
    box-shadow: 6px 6px 8px grey;
    outline: none;
}

.visitCardButton:focus {
    outline: none;
}

.codeCardButton {
    position: absolute;
    bottom: 4%;
    right: 15%;
    padding-bottom: 3px;
    
    width: 90px;
    height: 35px;
    border-radius: 50px;
    background-color: white;
    color: black;    
    box-shadow: 6px 6px 8px grey;
    outline: none;
}

.codeCardButton:focus {
    outline: none;
}

#footer {
    position: relative;
    width: 100%;
    height: 180px;

    overflow: hidden;
}

#socialButtons { 
    margin-right: auto;
    width: 300px;
    height: 75px;
    padding: 0;
}

#toTop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: 135px;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 45px;
    background-color: grey;
}

#footerTextDiv {
    margin-top: 1rem;
    width: 100%;
}






/* Media Queries */


/* Mobile */
@media screen and (min-width: 250px) {

    /* Home Page */

    #intro1 {
        font-size: 45px;
    }

    #intro2 {
        font-size: 30px;
    }

    #intro3 {
        font-size: 30px;
    }

    /* About Page */
    
    #slideContainer {
        width: 232px;
        height: 152px;
    }
    
    #slideContainer div img {
        width: 230px;
        height: 150px;
    }

    #aboutParagraph {
        top: 5%;
        width: 60%;
    }

    .aboutText {
        font-size: 0.74rem;
    }

    #aboutHeader {
        margin: 0 auto 0 auto;
        font-size: 1rem;
        width: 80px;
    }

    #homeNavButton {
        font-size: 1rem;
    }

    #resumeButton {
        width: 25;
        height: 25;
    }

    #githubButton {
        width: 25;
        height: 25;
    }

    #linkedInButton {
        width: 24;
        height: 24;
    }

    #emailButton {
        width: 26;
        height: 26;
    }

    #instagramButton {
        width: 26;
        height: 26;
    }    

    /* Project Screen */

    #projectScreenHeader {
        position: absolute;
        font-size: 18px;
        top: 1rem;
        width: 100%;
        text-align: center;
    }
    
    #nextButton2 {
        width: 20px;
        height: 20px;
    }

    .card {
        width: 220px;
        height: 400px;
    }

    .cardWrapper {
        width: 220px;
        height: 400px;
    }

    .cardImg {
        width: 215px;
        height: 150px;
    }

    .contentBox {
        top: 150px;
        width: 210px;
        margin: 2px;
        font-size: 0.7rem;
    }
    
    .visitCardButton {
        width: 55px;
        height: 30px;
        font-size: 0.7rem;
        left: 5%;
        bottom: 0.5%;
    }

    .codeCardButton {
        width: 60px;
        height: 30px;
        font-size: 0.7rem;
        right: 5%;
        bottom: 0.5%;
    }
    
    /* footer */
    #footerText {
        font-size: 0.9em;
    }

}

/* Larger Phones */

@media screen and (min-width: 400px) {

    /* About Page */
    #slideContainer {
        width: 302px;
        height: 222px;
    }
    
    #slideContainer div img {
        width: 300px;
        height: 220px;
    }

    #aboutParagraph {
        top: 8%;
        left: 5%;
        width: 70%;
    }

    #aboutHeader {
        margin: 0 auto 0 auto;
        font-size: 1rem;
        width: 80px;
    }
    /* Project Screen */

    #nextButton2 {
        width: 25px;
        height: 25px;
    }

    .card {
        width: 350px;
        height: 500px;
    }

    .cardWrapper {
        width: 350px;
        height: 500px;
    }

    .cardImg {
        width: 345px;
        height: 250px;
    }

    .contentBox {
        top: 250px;
        width: 340px;
        margin: 3px;
        font-size: 0.8rem;
    }
    
    .visitCardButton {
        width: 55px;
        height: 30px;
        font-size: 0.7rem;
        left: 5%;
        bottom: 3%;
    }

    .codeCardButton {
        width: 60px;
        height: 30px;
        font-size: 0.7rem;
        right: 5%;
        bottom: 3%;
    }

    /* footer */
    #footerText {
        font-size: 1rem;
    }
}

/* Tablets */

@media screen and (min-width: 480px) {

    /* About Page */


    #aboutParagraph {
        width: 80%;
    }

    #slideContainer {
        width: 302px;
        height: 222px;
    }
    
    #slideContainer div img {
        width: 300px;
        height: 220px;
    }

    /* footer */
    #footerText {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 600px) {

    /* About Page */
    #aboutHeader {
        margin: 0 auto 0 auto;
        font-size: 1.3rem;
        width: 100px;
    }

    .aboutText {
        font-size: 0.9rem;
    }

    #slideContainer {
        width: 362px;
        height: 252px;
    }
    
    #slideContainer div img {
        width: 360px;
        height: 250px;
    }

}

/* Laptop Screens */

@media screen and (min-width: 768px) {
    /* Home page */

    #nextButton1 {
        right: 50px;
    }

    /* About Page */
    #slideContainer {
        height: 342px;
        width: 462px;
    }

    #slideContainer div img {
        height: 340px;
        width: 460px;
    }
    
    #aboutHeader {
        margin: 0 auto 0 auto;
        font-size: 1.5rem;
        width: 120px;
    }
    
    #aboutParagraph {
        width: 85%;
    }
    
    .aboutText {
        font-size: 1em;
    }
    
    #nextButton2 {
        position: absolute;
        top: 0rem;
        right: 0rem;
    }

    /* Project Page */

    #projectScreenHeader {
        font-size: 25px;
        position: absolute;
        top: 1rem;
    }
    
    #nextButton2 {
        width: 25px;
        height: 25px;
    }
    
    .cardWrapper {
        width: 420px;
        height: 600px;
    }

    .card {
        width: 420px;
        height: 600px;
    }

    .cardImg {
        width: 415px;
        height: 300px;
    }

    .contentBox {
        top: 300px;
        width: 410px;
        margin: 3px;
        font-size: 1rem;
        
    }
    
    .visitCardButton {
        width: 65px;
        height: 30px;
        font-size: 0.7rem;
        left: 5%;
        bottom: 3%;
    }

    .codeCardButton {
        width: 65px;
        height: 30px;
        font-size: 0.7rem;
        right: 5%;
        bottom: 3%;
    }

    /* footer */
    #footerText {
        font-size: 1.3em;
    }
}


@media screen and (min-width: 1024px) {
    /* Home page */
    
    #nextButton1 {
        right: 50px;
    }

    /* About Page */
    #slideContainer {
        height: 392px;
        width: 502px;
    }

    #slideContainer div img {
        height: 390px;
        width: 500px;
    }

    #aboutParagraph {
        width: 85%;
    }

    #aboutHeader {
        margin: 0 auto 0 auto;
        font-size: 1.5rem;
        width: 120px;
    }
    
    
    
    .aboutText {
        font-size: 1.4rem;
    }
    
    /* Project Screen */

    #projectScreenHeader {
        font-size: 30px;
        position: absolute;
        top: 1rem;
    }
    
    #nextButton2 {
        width: 40px;
        height: 40px;
    }

    .card {
        width: 450px;
        height: 700px;
    }

    .cardWrapper {
        width: 450px;
        height: 700px;
    }

    .cardImg {
        width: 445px;
        height: 350px;
    }

    .contentBox {
        top: 350px;
        width: 440px;
        margin: 3px;
        font-size: 0.8rem;
        
    }

    
    .visitCardButton {
        width: 80px;
        height: 35px;
        font-size: 0.8rem;
        left: 5%;
        bottom: 3%;
    }

    .codeCardButton {
        width: 80px;
        height: 35px;
        font-size: 0.8rem;
        right: 5%;
        bottom: 3%;
    }
    
    /* footer */
    #footerText {
        font-size: 1.3rem;
    }
}


/* Desktop Screens */

@media screen and (min-width: 1440px) {
    /* Home Page */

    #nextButton1 {
        right: 80px;
    }

    /* About Page */
    #slideContainer {
        
        height: 452px;
        width: 612px;
    }

    #slideContainer div img {
        height: 450px;
        width: 610px;
    }
    
    #aboutHeader {
        margin: 0 auto 0 auto;
        font-size: 1.8rem;
        width: 140px;
    }
    
    #aboutParagraph {
       min-width: 90%;
    }
    
    .aboutText {
        font-size: 1.7rem;
    }
    
    #nextButton2 {
        position: absolute;
        top: 0rem;
        right: 0rem;
    }

    /* Projects */
 
    #projects {
        height: 1200px;
    }

    .card {
        width: 550px;
        height: 800px;
    }

    .cardWrapper {
        width: 550px;
        height: 800px;
    }

    .cardImg {
        width: 545px;
        height: 450px;
    }

    .contentBox {
        top: 450px;
        width: 540px;
        margin: 3px;
        font-size: 0.8rem;
        
    }
    
    .visitCardButton {
        width: 90px;
        height: 35px;
        font-size: 1rem;
        left: 5%;
        bottom: 3%;
    }

    .codeCardButton {
        width: 90px;
        height: 35px;
        font-size: 1rem;
        right: 5%;
        bottom: 3%;
    }

    /* footer */
    #footerText {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 2560px) {
    /* Home page */

    #intro1 {
        font-size: 75px;
    }

    #intro2 {
        font-size: 40px;
    }

    #intro3 {
        font-size: 40px;
    }

    #nextButton1 {
        width: 80px;
        height: 80px;
        right: 110px;
    }

    /* About page */
    #slideContainer {
        width: 1102px;
        height: 802px;

    }
    
    #slideContainer div img {
        width: 1100px;
        height: 800px;
    }

    .aboutText {
        font-size: 2.5rem;
    }

    #aboutHeader {
        margin: 0 auto 0 auto;
        font-size: 3rem;
        width: 225px;
    }

    #aboutParagraph {
        min-width: 100%;
        
    }

    #navbarContainer {
        font-size: 2.5rem;
    }

    #homeNavButton {
        font-size: 2.5rem;
    }

    #resumeButton {
        width: 55;
        height: 55;
    }

    #githubButton {
        width: 55;
        height: 55;
    }

    #linkedInButton {
        width: 54;
        height: 54;
    }

    #emailButton {
        width: 56;
        height: 56;
    }

    #instagramButton {
        width: 56;
        height: 56;
    }

    /* Project Page */

    #projectScreenHeader {
        font-size: 58px;
        position: absolute;
        top: 1rem;
    }
    
    #nextButton2 {
        width: 70px;
        height: 70px;
    }

    #projects {
        height: 1800px;
    }

    .card {
        width: 950px;
        height: 1200px;
    }

    .cardWrapper {
        width: 950px;
        height: 1200px;
    }

    .cardImg {
        width: 945px;
        height: 700px;
    }

    .contentBox {
        top: 700px;
        width: 940px;
        margin: 8px;
        font-size: 1.2rem;
    }
    
    .visitCardButton {
        width: 130px;
        height: 55px;
        font-size: 1.2rem;
        left: 4%;
        bottom: 3%;
    }

    .codeCardButton {
        width: 130px;
        height: 55px;
        font-size: 1.2rem;
        right: 4%;
        bottom: 3%;
    }

    /* footer */

    #toTop {
        position: absolute;
        height: 50px;
        bottom: 0;
    }

    #socialButtons {
        margin-top: 50px;
        width: 500px;
    }

    #footerText {
        font-size: 1.8rem;
    }

    #footerTextDiv {
        position: absolute;
        top: 0;
    }

    #nextButton3 {
        width: 45px;
        height: 45px;
    }

}

