html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

#aboutMe {
    position: relative;
}

#projects {
    position: relative;
    background-color: rgb(89, 105, 119);
}

#resume {
    background-color: rgb(231, 132, 65);
    position: relative;
}

#iconContainer {
    height: 8rem;
    width: 4rem;
    position: absolute;
    top: 40%;
    left: 0rem;
}

#aboutMeParagraph {
    position: absolute;
    left: 10%;
    top: 14%;
}

#nextButton2 {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

#nextButton3 {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
}

#nextButton5 {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
}

#emailBox {
    width: 5.5rem;
    height: 1.7rem;
    position: absolute;
    bottom: 10%;
    left: 1%;
    visibility: hidden;
}

#emailBox p {
    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;
    position: relative;
    top: 0.2rem;
}
