html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

#about {
    position: relative;
}

#projects {
    position: relative;
    background-color: rgb(89, 105, 119);
}

#resume {
    background-color: rgb(231, 132, 65);
    position: relative;
}

#navbarDiv {
    position: sticky;
}

#iconContainer {
    height: 8rem;
    width: 4rem;
    position: absolute;
    top: 37%;
    left: 0rem;
}

#aboutParagraph {
    position: absolute;
    left: 10%;
    top: 14%;
}

#nextButton2 {
    position: absolute;
    top: 2rem;
    right: 0rem;
    z-index: 1;
}

#nextButton3 {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
}

#nextButton4 {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

#nextButton5 {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
}

#nextButton6 {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

#emailBox {
    width: 5.5rem;
    height: 1.7rem;
    position: absolute;
    bottom: 11%;
    left: 1%;
    visibility: hidden;
}

#emailBox p {
    text-align: center; 
    font-weight: 500;
    font-size: 0.8rem;
    position: relative;
    top: 0.2rem;
}
    
#linkedInButton {
    margin-bottom: .7rem;
}

#emailButton {
    margin-bottom: .6rem;
}

