html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: none;
    height: 100%; 
    width: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

#home {
    position: relative;
    background-color: rgb(68, 140, 255);
}

#about {
    position: relative;
    width: 100%;
    height: 100%;
}

#projects {
    background-color: rgb(68, 140, 255); 
    position: relative;
    height: 1800px;
    display: none;
}

#iconContainer {
    height: 8rem;
    width: 4rem;
    position: absolute;
    top: 37%;
    left: 0rem;
}

#aboutHeader {
    position: absolute; 
    left: 0; 
    right: 0;
    top: 2.5rem;
    margin-left: auto; 
    margin-right: auto; 
    width: 120px;
}

#aboutParagraph {
    position: absolute;
    left: 10%;
    top: 25%;
}

.aboutText {
    font-size: 1.2rem;
}

#nextButton2 {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

#resumeButton {
    animation-delay: 200ms;
}

#githubButton {
    animation-delay: 300ms; 
}

#linkedInButton {
    animation-delay: 500ms; 
}

#emailButton {
    animation-delay: 700ms; 
}

#instagramButton {
    animation-delay: 900ms; 
}

#homeNavButton {
    animation-delay: 200ms;
}

#projNavButton {
    animation-delay: 450ms;
}

#resumeNavButton {
    animation-delay: 550ms;
}

#emailBox {
    width: 5.5rem;
    height: 1.7rem;
    position: absolute;
    bottom: 7%;
    left: 1%;
    visibility: hidden;
}

#emailBox p {
    text-align: center; 
    font-weight: 500;
    font-size: 0.8rem;
    position: relative;
    top: 0.2rem;
}
    
#linkedInButton {
    margin-bottom: .7rem;
}

#emailButton {
    margin-bottom: .6rem;
}


#slideContainer {
    position: relative;
    left: 58%;
    top: 12%;
    height: 360px;
    width: 480px;
    border-style: solid;
    border-color: lightskyblue;
    border-width: 1px;
    list-style-type: none;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: .7;
    z-index: 2;
}

.card {
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.cardWrapper {
    position: relative;
    margin: 200px auto 200px auto;
    padding: 0;
    width: 450px;
    height: 650px;
    top: 12rem;

    border-radius: 10px;

    transition: 0.6s ease;
    cursor: pointer;
}

.card:hover {
    box-shadow: 3px 3px 10px black;
}

.cardWrapper:hover {
    transform: scale(1.04);
}

.cardImg {
    border-style: solid;
    border-width: 4px;
    border-color: grey;
    border-radius: 10px 10px 10px 10px; 
}

.contentBox {
    position: absolute;
    top: 250px;
    width: 420px;
    margin: 10px;
    border-bottom: 10px solid grey;
    border-radius: 30px 30px 15px 15px;
}

.visitCardButton {
    position: absolute;
    bottom: 4%;
    left: 15%;
    padding-bottom: 3px;
    
    width: 90px;
    height: 35px;
    border-radius: 50px;
    background-color: white;
    color: black;    
    box-shadow: 6px 6px 8px grey;
    outline: none;
}

.visitCardButton:focus {
    outline: none;
}

.codeCardButton {
    position: absolute;
    bottom: 4%;
    right: 15%;
    padding-bottom: 3px;
    
    width: 90px;
    height: 35px;
    border-radius: 50px;
    background-color: white;
    color: black;    
    box-shadow: 6px 6px 8px grey;
    outline: none;
}

.codeCardButton:focus {
    outline: none;
}

#footer {
    position: relative;
    width: 100%;
    height: 180px;

    overflow: hidden;
}

#socialButtons {
    margin-bottom: auto; 
    margin-right: auto;
    width: 300px;
    height: 150px;
    padding: 0;
}

#toTop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: 135px;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 45px;
    background-color: grey;
}






/* Media Queries */


/* Mobile */
@media screen and (min-width: 250px) {

    /* Home Page */

    #intro1 {
        font-size: 40px;
    }

    #intro2 {
        font-size: 25px;
    }

    #intro3 {
        font-size: 25px;
    }

    #nextButton1 {
        position: absolute;
        right: 0;
    }
    /* About Page */
    
    #slideContainer {
        position: relative;
        left: 32%;
        top: 58%;
        width: 132px;
        height: 102px;

    }
    
    #slideContainer div img {
        width: 130px;
        height: 100px;
    }

    #aboutParagraph {
        left: 23%;
        top: 18%;
        width: 60%;
        
    }
    .aboutText {
        font-size: 0.74rem;
    }

    #aboutHeader {
        position: absolute;
        font-size: 1rem;
        width: 150px;
        left: 30%;
    }

    #homeNavButton {
        font-size: 1rem;
    }

    #resumeButton {
        width: 25;
        height: 25;
    }

    #githubButton {
        width: 25;
        height: 25;
    }

    #linkedInButton {
        width: 24;
        height: 24;
    }

    #emailButton {
        width: 26;
        height: 26;
    }

    #instagramButton {
        width: 26;
        height: 26;
    }    

    /* Project Screen */

    #projectScreenHeader {
        position: absolute;
        font-size: 18px;
        top: 1rem;
        width: 100%;
        text-align: center;
    }
    
    #nextButton2 {
        width: 20px;
        height: 20px;
    }

    .card {
        width: 220px;
        height: 400px;
    }

    .cardWrapper {
        width: 220px;
        height: 400px;
    }

    .cardImg {
        width: 215px;
        height: 150px;
    }

    .contentBox {
        top: 150px;
        width: 210px;
        margin: 2px;
        font-size: 0.7rem;
    }
    
    .visitCardButton {
        width: 55px;
        height: 30px;
        font-size: 0.7rem;
        left: 5%;
    }

    .codeCardButton {
        width: 60px;
        height: 30px;
        font-size: 0.7rem;
        right: 5%;
    }

}

/* Larger Phones */

@media screen and (min-width: 400px) {
    
    /* About Page */
    #slideContainer {
        position: relative;
        left: 32%;
        top: 52%;
        width: 162px;
        height: 132px;

    }
    
    #slideContainer div img {
        width: 160px;
        height: 130px;
    }

    #aboutParagraph {
        left: 25%;
        top: 18%;
        width: 60%;
    }

    #aboutHeader {
        font-size: 1rem;
        width: 150px;
        left: 25%;
    }

    /* Project Screen */

    #nextButton2 {
        width: 25px;
        height: 25px;
    }

    .card {
        width: 350px;
        height: 500px;
    }

    .cardWrapper {
        width: 350px;
        height: 500px;
    }

    .cardImg {
        width: 345px;
        height: 200px;
    }

    .contentBox {
        top: 200px;
        width: 340px;
        margin: 3px;
        font-size: 0.8rem;
        
    }
    
    .visitCardButton {
        width: 55px;
        height: 30px;
        font-size: 0.7rem;
        left: 5%;
    }

    .codeCardButton {
        width: 60px;
        height: 30px;
        font-size: 0.7rem;
        right: 5%;
    }
}

/* Tablets */

@media screen and (min-width: 480px) {
    
    /* About Page */
    #aboutHeader {
        left: 15%;
    }

    #aboutParagraph {
        top: 22%;
    }

    #slideContainer {
        position: relative;
        left: 36%;
        top: 52%;
        width: 162px;
        height: 132px;

    }
    
    #slideContainer div img {
        width: 160px;
        height: 130px;
    }

}

@media screen and (min-width: 600px) {
    
    /* About Page */
    #aboutHeader {
        left: 12%;
    }

    #aboutParagraph {
        top: 22%;
        left: 20%;
    }

    #slideContainer {
        position: relative;
        left: 30%;
        top: 42%;
        width: 222px;
        height: 182px;

    }
    
    #slideContainer div img {
        width: 220px;
        height: 180px;
    }

}

/* Laptop Screens */

@media screen and (min-width: 768px) {

    /* About Page */
    #slideContainer {
        left: 55%;
        top: 30%;
        height: 242px;
        width: 362px;
    }

    #slideContainer div img {
        height: 240px;
        width: 360px;
    }
    
    #aboutHeader {
       left: 8%;
       font-size: 1.5rem;
    }
    
    #aboutParagraph {
        left: 10%;
        top: 38%;
        width: 40%;
    }
    
    .aboutText {
        font-size: 0.8rem;
    }
    
    #nextButton2 {
        position: absolute;
        top: 0rem;
        right: 0rem;
    }

    /* Project Page */

    #projectScreenHeader {
        font-size: 25px;
        position: absolute;
        top: 1rem;
    }
    
    #nextButton2 {
        width: 25px;
        height: 25px;
    }

    .card {
        width: 420px;
        height: 600px;
    }

    .cardWrapper {
        width: 420px;
        height: 600px;
    }

    .cardImg {
        width: 415px;
        height: 250px;
    }

    .contentBox {
        top: 250px;
        width: 410px;
        margin: 3px;
        font-size: 1rem;
        
    }
    
    .visitCardButton {
        width: 65px;
        height: 30px;
        font-size: 0.7rem;
        left: 5%;
    }

    .codeCardButton {
        width: 65px;
        height: 30px;
        font-size: 0.7rem;
        right: 5%;
    }
}


@media screen and (min-width: 1024px) {

    /* About Page */
    #slideContainer {
        left: 65%;
        top: 24%;
        height: 302px;
        width: 422px;
    }

    #slideContainer div img {
        height: 300px;
        width: 420px;
    }
    
    #aboutHeader {
       left: 8%;
       font-size: 1.5rem;
    }
    
    #aboutParagraph {
        left: 10%;
        top: 36%;
        width: 50%;
    }
    
    .aboutText {
        font-size: 1.1rem;
    }
    
    /* Project Screen */

    #projectScreenHeader {
        font-size: 30px;
        position: absolute;
        top: 1rem;
    }
    
    #nextButton2 {
        width: 40px;
        height: 40px;
    }

    .card {
        width: 450px;
        height: 600px;
    }

    .cardWrapper {
        width: 450px;
        height: 600px;
    }

    .cardImg {
        width: 445px;
        height: 250px;
    }

    .contentBox {
        top: 250px;
        width: 440px;
        margin: 3px;
        font-size: 0.8rem;
        
    }
    
    .visitCardButton {
        width: 70px;
        height: 30px;
        font-size: 0.8rem;
        left: 5%;
    }

    .codeCardButton {
        width: 70px;
        height: 30px;
        font-size: 0.8rem;
        right: 5%;
    }
}


/* Desktop Screens */

@media screen and (min-width: 1440px) {

    /* About Page */
    #slideContainer {
        left: 65%;
        top: 24%;
        height: 302px;
        width: 422px;
    }

    #slideContainer div img {
        height: 300px;
        width: 420px;
    }
    
    #aboutHeader {
       left: 8%;
       font-size: 1.5rem;
    }
    
    #aboutParagraph {
        left: 10%;
        top: 36%;
        width: 50%;
    }
    
    .aboutText {
        font-size: 1.1rem;
    }
    
    #nextButton2 {
        position: absolute;
        top: 0rem;
        right: 0rem;
    }

    /* Projects */
 
    #projects {
        height: 2000px;
    }

    .card {
        width: 550px;
        height: 700px;
    }

    .cardWrapper {
        width: 550px;
        height: 700px;
    }

    .cardImg {
        width: 545px;
        height: 300px;
    }

    .contentBox {
        top: 300px;
        width: 540px;
        margin: 3px;
        font-size: 1rem;
        
    }
    
    .visitCardButton {
        width: 90px;
        height: 35px;
        font-size: 1rem;
        left: 5%;
        padding-bottom: 4px;
    }

    .codeCardButton {
        width: 90px;
        height: 35px;
        font-size: 1rem;
        right: 5%;
        padding-bottom: 4px;
    }

}


@media screen and (min-width: 2560px) {
    /* Home page */

    #intro1 {
        font-size: 75px;
    }

    #intro2 {
        font-size: 40px;
    }

    #intro3 {
        font-size: 40px;
    }

    #nextButton1 {
        width: 80px;
        height: 80px;
    }

    /* About page */
    #slideContainer {
        position: relative;
        left: 60%;
        top: 24%;
        width: 1102px;
        height: 802px;

    }
    
    #slideContainer div img {
        width: 1100px;
        height: 800px;
    }

    .aboutText {
        font-size: 2.5rem;
    }

    #aboutHeader {
        font-size: 3rem;
        width: 300px;
    }

    #navbarContainer {
        font-size: 2.5rem;
    }

    #homeNavButton {
        font-size: 2.5rem;
    }

    #resumeButton {
        width: 55;
        height: 55;
    }

    #githubButton {
        width: 55;
        height: 55;
    }

    #linkedInButton {
        width: 54;
        height: 54;
    }

    #emailButton {
        width: 56;
        height: 56;
    }

    #instagramButton {
        width: 56;
        height: 56;
    }

    /* Project Page */

    #projects {
        min-height: 3000px;
    }

    #projectScreenHeader {
        font-size: 58px;
        position: absolute;
        top: 1rem;
    }
    
    #nextButton2 {
        width: 70px;
        height: 70px;
    }

    #projects {
        height: 2000px;
    }


    .card {
        width: 950px;
        height: 1200px;
    }

    .cardWrapper {
        width: 950px;
        height: 1200px;
    }

    .cardImg {
        width: 945px;
        height: 550px;
    }

    .contentBox {
        top: 540px;
        width: 940px;
        margin: 8px;
        font-size: 1.2rem;
    }
    
    .visitCardButton {
        width: 130px;
        height: 55px;
        font-size: 1.2rem;
        left: 8%;
        padding-bottom: 5px;
    }

    .codeCardButton {
        width: 130px;
        height: 55px;
        font-size: 1.2rem;
        right: 8%;
        padding-bottom: 5px;
    }

    #socialButtons {
        width: 500px;
    }
}

