@media only screen and (max-device-width: 820px) {
    #slideContainer {
        position: relative;
        left: 10%;
        top: 30%;
        width: 320px;
        height: 400px;
    }
    
    #image1 #image2 {
        width: 320px;
        height: 400px;
    }
}




html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

#wrapper {
    position: relative;
}

#about {
    position: relative;
}

#projects {
    position: relative;
    background-color: rgb(145, 150, 158); 
}

#iconContainer {
    height: 8rem;
    width: 4rem;
    position: absolute;
    top: 37%;
    left: 0rem;
}

#aboutHeader {
    position: absolute; 
    left: 0; 
    right: 0;
    top: 2.5rem;
    margin-left: auto; 
    margin-right: auto; 
    width: 120px;
}

#aboutParagraph {
    position: absolute;
    left: 10%;
    top: 25%;
}

.aboutText {
    font-size: 1.2rem;
}

#nextButton2 {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

#resumeButton {
    animation-delay: 200ms;
}

#githubButton {
    animation-delay: 300ms; 
}

#linkedInButton {
    animation-delay: 500ms; 
}

#emailButton {
    animation-delay: 700ms; 
}

#instagramButton {
    animation-delay: 900ms; 
}

#homeNavButton {
    animation-delay: 200ms;
}

#projNavButton {
    animation-delay: 450ms;
}

#resumeNavButton {
    animation-delay: 550ms;
}

#emailBox {
    width: 5.5rem;
    height: 1.7rem;
    position: absolute;
    bottom: 7%;
    left: 1%;
    visibility: hidden;
}

#emailBox p {
    text-align: center; 
    font-weight: 500;
    font-size: 0.8rem;
    position: relative;
    top: 0.2rem;
}
    
#linkedInButton {
    margin-bottom: .7rem;
}

#emailButton {
    margin-bottom: .6rem;
}


#slideContainer {
    position: relative;
    left: 58%;
    top: 12%;
    height: 360px;
    width: 480px;
    border-style: solid;
    border-color: lightskyblue;
    border-width: 1px;
    list-style-type: none;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: .7;
    z-index: 2;
}